footer.page-footer
    .footer-copyright
        .container
            | © 2015 Avaritia |&nbsp;
            a(href='https://github.com/AlejoJamC/avaritia/wiki') Lineamientos y documentación
            // Social icons
            span.social.right
                a(href='https://twitter.com/AlejoJamC')
                    i.fa.fa-twitter
                a(href='https://github.com/AlejoJamC')
                    i.fa.fa-github
                a(href='http://alejojamc.com')
                    i.fa.fa-rss-square