footer.page-footer
    .footer-copyright
        .container
            | © 2015 Avaritia
            a.ajax-link(href='ajax/pages/privacy-policy.html') Privacy policy
            // Social icons
            span.social.right
                a(href='#!')
                    i.fa.fa-facebook
                a(href='#!')
                    i.fa.fa-vk
                a(href='#!')
                    i.fa.fa-google-plus
                a(href='#!')
                    i.fa.fa-github
                a(href='#!')
                    i.fa.fa-deviantart