#nav.navbar-fixed
  nav
    .nav-wrapper
      // Site name
      a.brand-logo(href='/')
        span.tighter A
        | varita
      // Mobile menu button
      a.button-collapse(href='#', data-activates='mobile-menu')
        i.mdi-navigation-menu
      // Static menu
      ul.right.hide-on-med-and-down.table-of-contents
        li
          a(href='#triangles') Inicio
        li
          a(href='#services') Acerca
        li
          a(href='#works') Esquema
        li
          a(href='#subscribe') Suscribirse
        li
          a(href='#contact') Contacto
      // Mobile menu, make sure it is equal to the statis menu
      ul#mobile-menu.side-nav
        li
          a(href='#triangles') Inicio
        li
          a(href='#services') Acerca
        li
          a(href='#works') Esquema
        li
          a(href='#subscribe') Suscribirse
        li
          a(href='#contact') Contacto