script(src='https://maps.googleapis.com/maps/api/js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js')
script(src='scripts/jquery-1.11.3.min.js')
script(src='scripts/config.js')
script(src='scripts/build.js')
script(src='scripts/jquery.maskMoney.js')
script(src='scripts/jquery.jstepper.min.js')
script.
    // Autocargador del materialize
    $(document).ready(function() {
        $('select').material_select();
    });
    // > ----------
    // Mascara para CUOTA
    // Ingresos mensuales
    $('#txtingresosmensuales').maskMoney({
        prefix:'$ ',
        allowNegative: false,
        thousands:'.',
        decimal:',',
        precision: 0,
        allowZero: false,
        affixesStay: false
    });
    // Valor prestamo
    $('#txtvalorprestamo').maskMoney({
        prefix:'$ ',
        allowNegative: false,
        thousands:'.',
        decimal:',',
        precision: 0,
        allowZero: false,
        affixesStay: false
    });
    // Cantidad de meses
    $('#txtvalormeses').jStepper({
        minValue:12,
        maxValue:60,
        minLength:2
    });
    // > ----------