#services.section.scrollspy
    .container
        .row
            h2 Que es Avaritia?
            .col.s12.m10.offset-m1.l8.offset-l2
                p.flow-text.center-align
                    | We're a small local company focused on crafting special and precise products that really help in
                    | your everyday life. Feel free to check out our services and explore the gallery of our works.
        // Row with service icons
        .row.services
            .col.s12.l3
                i.fa.fa-5x.fa-paint-brush.animated-color
                .divider
                h5 Creative design
                p
                    | Inspired by the latest trends of Material design, using cutting-edge technologies for a fresh and modern look. More design, all the time
                a.btn.waves-effect.waves-dark.white.black-text Learn more
            .col.s12.l3
                i.fa.fa-5x.fa-desktop.animated-color
                .divider
                h5 Fits all screens
                p
                    | Designed as a mobile-first application, the grid scales to fit even the largest monitors. The content always looks nice and balanced.
                a.btn.waves-effect.waves-dark.white.black-text Discover
            .col.s12.l3
                i.fa.fa-5x.fa-cog.animated-color
                .divider
                h5 Easily customizable
                p
                    | You are welcome to customize the elements to fit your needs. The proccess is simple and pleasant thanks for a Material color palette
                a.btn.waves-effect.waves-dark.white.black-text Try it
            .col.s12.l3
                i.fa.fa-5x.fa-code.animated-color
                .divider
                h5 Carefully coded
                p
                    | Beautiful on the outside and smart on the inside. Our code is clean, extremely readable and no trouble to modify or maintain.
                a.btn.waves-effect.waves-dark.white.black-text Explore