#works.section.scrollspy
    .container
        .row
            h2 Como funciona?
            // Category filter buttons
            .filter-options
                a#all.btn-flat.waves-green-accent.waves-effect.active(data-group='all') Servicio Web
                a.btn-flat.waves-green-accent.waves-effect(data-group='material') Administración
                a.btn-flat.waves-green-accent.waves-effect(data-group='food') Interfaz Cliente