include ./partials/head
body

  #wrapper

    // The preloader we see before the whole site is loaded
    #preloader.valign-wrapper
      .preloader-wrapper.big.active
        .spinner-layer.spinner-blue-only.actually-black
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle

    // A status spinner to indicate that some process is going on
    #status
      .preloader-wrapper.small.active
        .spinner-layer.spinner-blue-only.actually-green
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle

    // Navigation
    include ./partials/navigation

    // Triangles section
    #triangles.scrollspy
      #output
        .h1-wrapper.valign-wrapper

          // EMPIEZA LA CALCULADORA
          .container
            .row
              .col.s12
                // TITULO DE LA CALCULADORA
                .container
                  .row
                    h3.h3-alter Metodos de simulación
                    p.flow-text.center-align.no-margin
                      | Este simulador te permite identificar el valor de la cuota que debes pagar cada mes, según el monto que deseas prestar y el plazo que fijes.
                    p.right-align.no-margin-minor
                      i.fa.fa-info-circle
                      |  Todos los campos son requeridos.
                // TITULO DE LA CALCULADORA
                // Simulator options
                .row
                  #calcular-cuota.col.s12
                    form#form-cuota.col.s12.m12.l8.offset-l2(action='/simular#result', novalidate='' method='post')
                      .row
                        .input-field.col.s12.m6.div-alter
                          // Select rate
                          select#cbxtasa(name='cbxtasa')
                            option(value='', disabled='', selected='') Escoja una opción
                            option(value='1') Tasa fija
                            option(value='2') Tasa variable
                          label.label-alter(for='cbxtasa') Seleccione la tasa del prestamo
                          // Select rate
                        .input-field.col.s12.m6.div-alter
                          // Select service
                          select#cbxservicio(name='cbxservicio')
                            option(value='', disabled='', selected='') Escoja una opción
                            option(value='1') Credito con pignoración de pensiones
                            option(value='2') Credito personal
                            option(value='2') Prestanomina
                          label.label-alter(for='cbxservicio') Seleccione un servicio
                          // Select service
                      .row
                        .input-field.col.s4.div-alter
                          input#txtingresosmensuales.textarea-alter.required.validate(type='text', name='txtingresosmensuales')
                          label.label-alter(for='txtingresosmensuales') Ingresos mensuales
                        .input-field.col.s4.div-alter
                          input#txtvalorprestamo.textarea-alter(type='text', name='txtvalorprestamo')
                          label.label-alter(for='txtvalorprestamo') Valor prestamo
                        .input-field.col.s4.div-alter
                          input#txtvalormeses.textarea-alter(type='number', name='txtvalormeses')
                          label.label-alter(for='txtvalormeses') Cantidad de meses
                      .center-align
                        button.btn-large(type='submit', name='btn-calcular-cuota')
                          | Calcular cuota

          // FIN DE LA CALCULADORA


          // Action button
          a#explore.btn-floating.btn-large.waves-effect.waves-dark.green.accent-2
            i.mdi-navigation-arrow-forward.indigo-text.text-darken-4

    // Services section
    include ./partials/services

    .container
      .divider

    // Works section
    include ./partials/works

    .container
      .divider

    // Contact form section
    include ./partials/contact

    // Footer
    include ./partials/footer

  // Scripts
  include ./partials/scripts