include ./partials/head
body

  #wrapper

    // The preloader we see before the whole site is loaded
    #preloader.valign-wrapper
      .preloader-wrapper.big.active
        .spinner-layer.spinner-blue-only.actually-black
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle

    // A status spinner to indicate that some process is going on
    #status
      .preloader-wrapper.small.active
        .spinner-layer.spinner-blue-only.actually-green
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle

    // Navigation
    include ./partials/navigation

    // Triangles section
    #triangles.scrollspy
      #output
        .h1-wrapper.valign-wrapper
          .container
            .row
              .col.s12
                // Your company's slogan, feel free to add more tags here
                h1
          // Action button
          a#explore.btn-floating.btn-large.waves-effect.waves-dark.green.accent-2
            i.mdi-navigation-arrow-forward.indigo-text.text-darken-4

    // Services section
    include ./partials/services

    .container
      .divider

    // Works section
    include ./partials/works

    .container
      .divider

    // Subscribe section
    include ./partials/suscribe

    .container
      .divider

    // Contact form section
    include ./partials/contact

    // Footer
    include ./partials/footer

  // Scripts
  include ./partials/scripts