include ./partials/head
body

  #wrapper

    // The preloader we see before the whole site is loaded
    #preloader.valign-wrapper
      .preloader-wrapper.big.active
        .spinner-layer.spinner-blue-only.actually-black
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle

    // A status spinner to indicate that some process is going on
    #status
      .preloader-wrapper.small.active
        .spinner-layer.spinner-blue-only.actually-green
          .circle-clipper.left
            .circle
          .gap-patch
            .circle
          .circle-clipper.right
            .circle

    // Navigation
    include ./partials/navigation

    // Triangles section
    #triangles.scrollspy
      #output
        .h1-wrapper.valign-wrapper

          // EMPIEZA LA CALCULADORA
          .container
            .row
              .col.s12
                // TITULO DE LA CALCULADORA
                .container
                  .row
                    h3.h3-alter Metodos de simulación
                    p.flow-text.center-align.no-margin
                      | Este simulador te permite identificar el valor de la cuota que debes pagar cada mes, según el monto que deseas prestar y el plazo que fijes.
                    p.right-align.no-margin-minor
                      i.fa.fa-info-circle
                      |  Todos los campos son requeridos.
                // TITULO DE LA CALCULADORA
                // Simulator options
                .row
                  iframe#formSimulator.iframe-alter(name='formSimulator', src='../embed/formSimulator.html', frameborder='0', border='0', cellspacing='0', width='100%', height='100%')
          // FIN DE LA CALCULADORA


          // Action button
          a#explore.btn-floating.btn-large.waves-effect.waves-dark.green.accent-2
            i.mdi-navigation-arrow-forward.indigo-text.text-darken-4

    // Services section
    include ./partials/services

    .container
      .divider

    // Works section
    include ./partials/works

    .container
      .divider

    // Contact form section
    include ./partials/contact

    // Footer
    include ./partials/footer

  // Scripts
  include ./partials/scripts